<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Lora:ital@1&family=Poppins&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Buy us a book</title>
</head>


<body class="bg-black transition duration-700 text-white overflow-x-hidden text-justify">
    <div class="fixed  left-0 right-0  bg-black md:bg-transparent  px-4 md:px-12   my-4 curvedFull w-full z-50 navbar"
        id="navbar" onmouseover="showMenu.reverse()">
        <div class=" flex justify-between items-center text-white py-2  z-50">
            <div class="">
                <form action="/" method="get" type="submit">
                    <button>
                        <img src="/images/logo_white.png" class="h-16 md:h-18" id="yugen_white" alt=""></button>

                </form>

            </div>



            <div class=" text-white items-center justify-center md:flex" id="menu_items">
                <div class="space-x-6 flex-wrap md:flex hidden text-gray-400">
                    <form action="/about" method="post" type="submit" class="hover:text-green-500 transition delay-45">
                        <button>About us</button>
                    </form>
                    <form action="/work" method="post" type="submit" class="hover:text-green-500 transition delay-45">
                        <button>Our Work</button>
                    </form>
                    <form method="post" action="/blogs" class="hover:text-green-500 transition delay-45">
                        <button type="submit">
                            <p>Events and Blogs</p>
                        </button>
                    </form>
                    <form action="/" method="get" type="submit" class="hover:text-green-500 transition delay-45">
                        <button>Get Involved</button>
                    </form>


                </div>



                <button class="hamburger md:hidden" onclick="newMenu()"><svg id="menu"
                        class="fill-current text-white h-8 md:h-10" clip-rule="evenodd" fill-rule="evenodd"
                        stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m11 16.745c0-.414.336-.75.75-.75h9.5c.414 0 .75.336.75.75s-.336.75-.75.75h-9.5c-.414 0-.75-.336-.75-.75zm-9-5c0-.414.336-.75.75-.75h18.5c.414 0 .75.336.75.75s-.336.75-.75.75h-18.5c-.414 0-.75-.336-.75-.75zm4-5c0-.414.336-.75.75-.75h14.5c.414 0 .75.336.75.75s-.336.75-.75.75h-14.5c-.414 0-.75-.336-.75-.75z"
                            fill-rule="nonzero" />
                    </svg></button>
                <button class="hamburger " onclick="newMenu()"><svg id="close"
                        class="fill-current text-white h-8 md:h-12 hidden" clip-rule="evenodd" fill-rule="evenodd"
                        stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
                    </svg></button>

            </div>

        </div>
        <div class="space-x-6  text-white px-4 py-4 hidden" id="drawer">
            <a href="about.html" class="hover:text-green-500 transition delay-45">
                <p>About us</p>
            </a>
            <a href="work.html" class="hover:text-green-500 transition delay-45">
                <p>Our work</p>
            </a>
            <a href="events.html" class="hover:text-green-500 transition delay-45">
                <p>Events and Blogs</p>
            </a>
            <a href="index.html#involved" class="hover:text-green-500 transition delay-45">
                <p>Get involved</p>
            </a>
        </div>
    </div>

    <section id="all" class="">

        <div class="flex ">
            <!-- <div class="text-black font-b  md:col-span-1 text-right bg-green-300 px-6 py-32 sideBar">
                <div class="text-7xl font-bold secHeading">Buy us<br> a book
                </div>
                <div class="text-xl mt-32 space-y-6">
                    <p class="font-bold mb-6 secHeading">Books on:</p>
                    <button class="w-full text-center md:text-right" onclick="category(1)">Making Friends
                    </button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                    <button class="w-full text-center md:text-right" onclick="category(2)">
                        Self-Awareness</button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                    <button class="w-full text-center md:text-right" onclick="category(3)">Relationship
                        Building</button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                    <button class="w-full text-center md:text-right" onclick="category(4)"> Responsible Decision-Making
                    </button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                </div>
                <div class="text-xl mt-32 space-y-6">
                    <p class="font-bold mb-6 secHeading">Ages:</p>
                    <button class="w-full text-center md:text-right" onclick="showCard(1)">5-6
                    </button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                    <button class="w-full text-center md:text-right" onclick="showCard(2)">
                        6-8</button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                    <button class="w-full text-center md:text-right" onclick="showCard(3)">8-12</button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                    <button class="w-full text-center md:text-right" onclick="showCard(4)"> 12-15
                    </button>
                    <div class="w-full float-right h-px bg-green-400"></div>
                </div>
            </div> -->

            <div class="max-w-6xl mx-auto md:px-12  py-32 space-y-2 ">
                <div class="py-8">
                    <p class="text-3xl font-bold ">Your<span class="text-green-600"> cart</span> </p>
                    <div class="md:flex items-center justify-center" id="imgContainer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-700 h-56"
                            viewBox="0 0 24 24">
                            <path
                                d="M16.53 7l-.564 2h-15.127l-.839-2h16.53zm-14.013 6h12.319l.564-2h-13.722l.839 2zm5.983 5c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm11.305-15l-3.432 12h-13.017l.839 2h13.659l3.474-12h1.929l.743-2h-4.195zm-6.305 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
                        </svg>
                        <p class="text-gray-500 text-center md:text-left">Your cart is empty. Click<br> on books to add
                            them to cart</p>
                    </div>

                    <form action="/placeOrder" method="post" class="space-y-2 px-6 mt-4 hidden" id="totalContainer">
                        <input type="text" name="user" placeholder="Your name" required
                            class="focus:outline-none w-full py-4 px-6  bg-gray-900 rounded-3xl  transition duration-100 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                        <input type="email" name="mail" placeholder="Your mail" required
                            class="focus:outline-none w-full py-4 px-6  bg-gray-900 rounded-3xl transition duration-100 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                        <input type="hidden" value="" id="bookList" name="bookList">
                        <div class="grid grid-cols-3 mt-4 space-x-4">
                            <div id="items" class="col-span-2  rounded-3xl py-4">

                            </div>
                            <div
                                class=" border-green-500 border-2 my-2 py-4 px-6  text-center rounded-3xl flex justify-center items-center">
                                <div class="">
                                    <p>Total</p>
                                    <div class="mb-2">
                                        <input id="total" name="total"
                                            class="bg-transparent text-center w-full font-bold text-5xl ">

                                    </div>
                                    <div class="mb-4 ">
                                        <button type="submit"
                                            class="bg-green-500 py-2 px-6 text-black rounded-3xl mx-auto">Donate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>

                <div class="grid grid-cols-2 gap-4">
                    <%for(var i=0;i< books.length;i++){%>

                        <!-- <form class="book " type="submit" method="get" action="/books/<%=books[i].title%>"> -->
                        <div target="_blank" id="<%=books[i].title%>"
                            class=" bg-gray-900 rounded-3xl  transition duration-100 ease-in-out transform hover:-translate-y-1 hover:scale-105  <%=books[i].category%>">
                            <div class="flex space-x-4 px-4 py-4">
                                <img src="<%=books[i].cover%>" class="rounded-xl h-36" alt="">
                                <div class="w-full">
                                    <p class="text-left text-2xl font-bold text-green-500">
                                        <%=books[i].title%>
                                    </p>
                                    <p class=" text-left text-gray-400   ">
                                        <span class="">by </span>
                                        <%=books[i].author%>
                                    </p>

                                    <div
                                        class="flex  items-center justify-center mt-4 rounded-3xl border border-gray-500">

                                        <div
                                            class="flex items-center justify-center text-left  w-1/3 border-r border-gray-500">
                                            ₹
                                            <span class="text-white text-2xl ml-1 font-bold">
                                                <%=books[i].price%>
                                            </span>
                                        </div>
                                        <button onclick="chosenBook('<%=books[i].title%>','<%=books[i].price%>')"
                                            class="group border-r border-gray-500  flex items-center w-1/3 justify-center p-2"><svg
                                                class="fill-current text-white group-hover:text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm9.804-16.5l-3.431 12h-2.102l2.542-9h-5.993c.113.482.18.983.18 1.5 0 3.59-2.91 6.5-6.5 6.5-.407 0-.805-.042-1.191-.114l1.306 3.114h13.239l3.474-12h1.929l.743-2h-4.196zm-6.304 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm-4.5-10.5c0 2.485-2.018 4.5-4.5 4.5-2.484 0-4.5-2.015-4.5-4.5s2.016-4.5 4.5-4.5c2.482 0 4.5 2.015 4.5 4.5zm-2-.5h-2v-2h-1v2h-2v1h2v2h1v-2h2v-1z" />
                                            </svg></button>
                                        <a href="<%=books[i].link%>"
                                            class=" rounded-xl flex items-center w-1/3 justify-center p-2 group"><svg
                                                class="fill-current text-white group-hover:text-green-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path
                                                    d="M13.958 10.09c0 1.232.029 2.256-.591 3.351-.502.891-1.301 1.438-2.186 1.438-1.214 0-1.922-.924-1.922-2.292 0-2.692 2.415-3.182 4.7-3.182v.685zm3.186 7.705c-.209.189-.512.201-.745.074-1.052-.872-1.238-1.276-1.814-2.106-1.734 1.767-2.962 2.297-5.209 2.297-2.66 0-4.731-1.641-4.731-4.925 0-2.565 1.391-4.309 3.37-5.164 1.715-.754 4.11-.891 5.942-1.095v-.41c0-.753.06-1.642-.383-2.294-.385-.579-1.124-.82-1.775-.82-1.205 0-2.277.618-2.54 1.897-.054.285-.261.567-.549.582l-3.061-.333c-.259-.056-.548-.266-.472-.66.704-3.716 4.06-4.838 7.066-4.838 1.537 0 3.547.41 4.758 1.574 1.538 1.436 1.392 3.352 1.392 5.438v4.923c0 1.481.616 2.13 1.192 2.929.204.287.247.63-.01.839-.647.541-1.794 1.537-2.423 2.099l-.008-.007zm3.559 1.988c-2.748 1.472-5.735 2.181-8.453 2.181-4.027 0-7.927-1.393-11.081-3.706-.277-.202-.481.154-.251.416 2.925 3.326 6.786 5.326 11.076 5.326 3.061 0 6.614-1.214 9.066-3.494.406-.377.058-.945-.357-.723zm.67 2.216c-.091.227.104.32.31.147 1.339-1.12 1.685-3.466 1.411-3.804-.272-.336-2.612-.626-4.04.377-.22.154-.182.367.062.337.805-.096 2.595-.312 2.913.098.319.41-.355 2.094-.656 2.845z"
                                                    fill-rule="evenodd" clip-rule="evenodd" />
                                            </svg></a>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="grid grid-cols-4 py-4 px-6">
                            <div class="">
                                <p class="text-xl secHeading">
                                    <%=books[i].title%>
                                </p>
                            </div>
                            <div class="">
                                <p class="text-xl secHeading">
                                    <%=books[i].author%>
                                </p>
                            </div>
                            <div class="">
                                <p class=" ">
                                    <%=books[i].age%>
                                        <span class="ml">years</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="text-xl secHeading font-bold">
                                    <%=books[i].price%>
                                </p>
                            </div>
                        </div> -->
                        </div>
                        <!-- </form> -->
                        <% } %>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-12 py-8 bg-gray-900 text-gray-500 px-4 md:px-8 mx-4 md:mx-6 my-6 curvedFull">

        <div class="grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-12  pt-12">

            <div class="flex items-center justify-center">
                <div class="space-y-4">
                    <form action="/" method="get" class="flex justify-center" type="submit">
                        <button class="">
                            <img src="/images/logo.png" class="bg-white rounded-full p-2 h-16 md:h-24" id="yugen_white"
                                alt=""></button>

                    </form>
                    <p class="md:text-center">&copy;2022 All rights reserved</p>
                </div>
            </div>


            <div class="space-y-2">
                <p class="font-bold text-xl text-white">Explore</p>
                <form action="/about" method="post" type="submit" class="hover:text-green-500 transition delay-45">
                    <button>About us</button>
                </form>
                <form action="/work" method="post" type="submit" class="hover:text-green-500 transition delay-45">
                    <button>Our Work</button>
                </form>
                <form method="post" action="/blogs" class="hover:text-green-500 transition delay-45">
                    <button type="submit">
                        <p>Events and Blogs</p>
                    </button>
                </form>
                <form action="/" method="get" type="submit" class="hover:text-green-500 transition delay-45">
                    <button>Get Involved</button>
                </form>
            </div>
            <div class="space-y-2">
                <p class="font-bold text-xl text-white">Legal</p>
                <form action="/privacy" method="post" type="submit" target="_blank" class="hover:text-green-500">
                    <button>Privacy policy</button>
                </form>
                <form action="/tandc" method="post" type="submit" target="_blank" class="hover:text-green-500">
                    <button>Terms and conditions</button>
                </form>
                <form method="post" action="/refund" target="_blank" class="hover:text-green-500">
                    <button type="submit">
                        <p>Refund policy</p>
                    </button>
                </form>


            </div>



            <div class="space-y-12">
                <div class="space-y-2">
                    <p class="font-bold text-xl text-white">Visit</p>
                    <p class="leading-loose">Yugen Education Foundation<br>
                        C-404, Meenakshi Mangalam,<br>
                        2nd Main Bannerghatta Road, Begur
                        Hobli,<br>
                        Bengaluru,
                        Karnataka - 560076
                    </p>
                </div>

            </div>



        </div>


    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script>
        const chosenBooks = []
        var total = 0
        function chosenBook(bookName, bookPrice) {
            document.getElementById(bookName).classList.remove('bg-gray-900')
            document.getElementById(bookName).classList.add('border-2', 'border-green-500')
            document.getElementById('totalContainer').classList.remove('hidden')
            document.getElementById('imgContainer').classList.remove('md:flex')
            document.getElementById('imgContainer').classList.add('hidden')
            if (!chosenBooks.includes(bookName)) {
                total = total + parseInt(bookPrice)
                chosenBooks.push(bookName)
                const bookCard = document.createElement("div");
                bookCard.className = "bg-gray-900 py-4 px-6 rounded-3xl my-2"
                const bookTitle = document.createTextNode(bookName);
                bookCard.appendChild(bookTitle);
                document.getElementById('items').appendChild(bookCard)

                // document.getElementById('items').innerHTML = chosenBooks
                document.getElementById('total').value = '₹' + total
                document.getElementById('bookList').value = chosenBooks

            }

        }

        gsap.from('.sideBar', { x: -20, opacity: 0 })
        gsap.from('.book', { x: 20, opacity: 0, stagger: 0.1 })
        // ------------------------------------------------MENU-------------------------------------


        let showMenu = gsap.timeline().pause()
        showMenu.to('.navbar', { y: -30, opacity: 0, duration: 0.2 })

        // window.onscroll = function () {
        //     showMenu.reverse()
        // }

        setInterval(function () {
            showMenu.play()
        }, 5000)



        function newMenu() {
            document.getElementById('menu').classList.toggle('hidden')
            document.getElementById('close').classList.toggle('hidden')
            document.getElementById('drawer').classList.toggle('hidden')
        }

        // -----------------------------------------------------CATEGORY-----------------------------------------

        function category(n) {
            let friends = document.querySelectorAll('.friends')
            let aware = document.querySelectorAll('.awareness')
            let relationship = document.querySelectorAll('.relationship')
            let decision = document.querySelectorAll('.decision')

            switch (n) {
                case 1:
                    aware.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    relationship.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    decision.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    friends.forEach((ele) => {
                        ele.classList.remove('hidden')
                    })

                    break;


                case 2:
                    aware.forEach((ele) => {
                        ele.classList.remove('hidden')
                    })

                    friends.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    relationship.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    decision.forEach((ele) => {
                        ele.classList.add('hidden')
                    })


                    break;

                case 3:
                    relationship.forEach((ele) => {
                        ele.classList.remove('hidden')
                    })

                    friends.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    decision.forEach((ele) => {
                        ele.classList.add('hidden')
                    })
                    aware.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    break;

                case 4:
                    decision.forEach((ele) => {
                        ele.classList.remove('hidden')
                    })

                    friends.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    relationship.forEach((ele) => {
                        ele.classList.add('hidden')
                    })
                    aware.forEach((ele) => {
                        ele.classList.add('hidden')
                    })

                    break;
            }
        }


    </script>



</body>
